@import "../../styles/variables";

.message {
  $self: &;
  margin-bottom: 5px;
  &__content {
    display: flex;
    max-width: 440px;
    position: relative;

    &:hover {
      #{$self}__icon-actions {
        display: block;
      }
    }
  }
  &__info {
    position: relative;
  }
  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    .avatar {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 31px;
      object-fit: cover;
    }
  }
  &__footer { 
    display: flex;
    align-items: center;
    img {
      margin-top: 2px;
    }
  }
  &__bubble {
    background: var(--message-partner-color);
    border-radius: 12px 12px 12px 0px;
    padding: 12px;
    margin-bottom: 4px;
    display: inline-block;
    &__with__attachments {
      padding: 0px;
      .message__text {
       padding: 5px;
      }
     }
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
    display: block;
    margin-right: 5px;
    color: var(--text-color)
  }

  &__text {
    color: #fff;
    line-height: 20px;
    word-break: break-all;
    display: flex;
    align-items: center;
  }

  &__attachments {
    &-block {
      cursor: pointer;
      max-width: 300px;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px 12px 0px 0px;
      }
    }
  }

  &__icon {
    &-read {

      &--no {
        left: auto;
      }
    }
    &-actions {
      display: none;
      transform: rotate(90deg);
      position: absolute;
      left: -31px;
      top: -5px;
    }
  }


  &--isme {
    display: flex;
    flex-direction: row-reverse;

    .avatar {
      margin-left: 13px;
      margin-right: 0;
    }

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__info {
      display: flex;
      flex-direction: column-reverse;
      text-align: right;
      align-items: flex-end;
    }

    #{$self}__bubble {
      background-color: var(--message-isme-color);
      border-radius: 12px 12px 0px 12px;
      order: 2;
      #{$self}__text {
        color: var(--text-color);
        text-align: left;
      }
    }
    #{$self}__date {
      margin-left: 5px;
    }
  }


  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}


